/*General Styling*/
body {
	margin: 0px;
	padding: 0px;
}

.title {
	float: left;
	margin: 10px 0px 3px 5px;
	padding: 5px 15px;
	border: solid 0px;
	font-size: 30px;
	font-family: 'Belleza', sans-serif;
}

.lime {
	color: lime;
}

.white {
	color: white;
}

header {
	position: fixed;
	width: 100%;
	z-index: 1;
	background: -webkit-linear-gradient(top, #148F77 , #117864, #148F77);
}

a {
	text-decoration: none;
	color: #CCFFF3;
}

.pages {
	margin: 10px 12px 10px 0px;
	padding: 10px 11px;
	border: solid #E6FFF9 2px;
	float: right;
	font-family: 'Courgette', cursive;
	font-size: 20px;
}

.pages:hover {
	color: #17A589;
	background-color: white;
}

footer {
	width: 100%;
	background: -webkit-linear-gradient(top, #148F77 , #117864, #148F77);
	text-align: center;
	font-family: 'Belleza', sans-serif;
	position: absolute;
}

/*Home Page Styling*/
.main {
	position: absolute;
	top: 35%;
	bottom: 30%;
	left: 10%;
	right: 10%;
	font-size: 7.5vw;
	text-align: center;
	font-family: 'Philosopher', cursive;
	letter-spacing: 3px;
	font-weight: bold;
	color: violet;
}

.image {
	position: relative;
	margin-top: 0;
}

img {
	display: block;
}

#right-side {
	left: 60%;
}

.round-edge {
	background: rgba(120, 120, 220, 0.5);
	position: absolute;
	border: solid white;
	padding: 2%;
	top: 10%;
	left: 5%;
	height: 60%;
	width: 30%;
	text-align: center;
	font-size: 2.6vw;
	font-family: papyrus, cursive;
	border-radius: 50px;
}

/*Rainforest Facts styling*/
.rainforest-facts {
	position: absolute;
	top: 8%;
	font-family: 'Philosopher', sans-serif;
	line-height: 40px;
	font-size: 20px;
}

/*Make An Impact styling*/
#sign-up {
	position: absolute;
	top: 8%;
	left: 55%;
	width: 48%;
	font-size: 7vw;
	font-family: 'Papyrus', cursive;
	text-decoration: underline;
	font-weight: bold;

	transform: translate(-50%, -50%);
}

#form {
	position: absolute;
	font-family: 'Philosopher', cursive;
	top: 17%;
	width: 60%;
	left: 20%;
	font-size: 3.1vw;
	text-align: center;
}

form {
	text-shadow: -1px -1px #000000;
}

#submit {
	font-family: 'Papyrus', cursive;
	font-weight: bold;
	font-size: 2.5vw;
	color: green;
	background-color: lime;
}